<div class="row mb-3">
    <div class="col-sm-4 text-center">
        <button class="btn btn-outline-info" (click)="inicioScroll()">
            <i class="fas fa-caret-up"></i>
        </button>
    </div>
    <div class="col-sm-4 text-center">
        <button class="btn btn-outline-info" (click)="mitadScroll()">
            <i class="fas fa-minus"></i>
        </button>
    </div>
    <div class="col-sm-4 text-center">
        <button class="btn btn-outline-info" (click)="finScroll()">
            <i class="fas fa-caret-down"></i>
        </button>
    </div>
</div>
<cdk-virtual-scroll-viewport itemSize="50" class="list-group list-container">
    <div class="list-group-item animated fadeIn" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
        Item {{ i + 1 }} de {{ conteo }}
    </div>
</cdk-virtual-scroll-viewport>
<div class="row mt-3">

</div>